<p id="notice"><%= notice %></p>

<h1>Tweet Files</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Date</th>
      <th>Coordinates</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweet_files.each do |tweet_file| %>
      <tr>
        <td><%= tweet_file.text %></td>
        <td><%= tweet_file.date %></td>
        <td><%= tweet_file.coordinates %></td>
        <td><%= link_to 'Show', tweet_file %></td>
        <td><%= link_to 'Edit', edit_tweet_file_path(tweet_file) %></td>
        <td><%= link_to 'Destroy', tweet_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tweet File', new_tweet_file_path %>
